<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스토리 보드</title>
</head>
<body>
    <header id="header"></header>
    <main>
        <header>
            <h1>첫번째 스토리</h1>
        </header>
        <aside>
            <p>korsec</p>
            <p><a href="mailto:korsec@gmil.com">korsec@gmil.com"</a> </p>
            <p><time datetime="2023-01-31T00:00:00">2023-01-31</time></p>
            <p>#java</p>
        </aside>
        <section>
          <p>본문<br><br></p>
          <div>
            <form>
              <label for="storyComment" hidden>댓글</label>
              <textarea id="storyComment" placeholder="댓글 쓰기..." rows="3"></textarea>
              <button type="submit">쓰기</button>
            </form>

            <ul>
              <li>
                <div>
                  <time><small>2022-01-01</small></time>
                  <strong>Uno</strong>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                    Lorem ipsum dolor sit amet
                  </p>
                </div>
              </li>
              <li>
                <div>
                  <time><small>2022-01-01</small></time>
                  <strong>Uno</strong>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                    Lorem ipsum dolor sit amet
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <nav>
            <a href="#">이전 글</a>
            <a href="#">다음 글</a>
          </nav>
        </section>
    </main>
    <footer id="footer"></footer>
</body>
</html>
